.task-list {
    border-collapse: collapse;
    width: 900px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(190, 183, 183);
}

.first-col {
    width: 50px;
}

.status-col {
    width: 100px;
}

.list-header {
    background-color: rgb(205, 133, 63);
    color:rgb(255, 255, 255)
}

.done {
    color: rgb(38, 189, 88);
    font-weight: bold;
    font-size: 15px;
}

.in-progress {
    color: rgb(255, 187, 0);
    font-weight: bold;    
    font-size: 15px;
}

.container {
    display: grid;
    grid-template-areas:
      'left list right';
    grid-gap: 10px;
    padding: 10px;
    width: 900px ;
    margin-left:auto; 
    margin-right:auto;
}

.list { grid-area: list; }
.right { grid-area: right;}
.left { grid-area: left;}

.top-align {
    margin-top: 0px;
}